.contact-main-wrap {
  width: 100%;
  position: relative;
}
.contact-main-wrap .contact-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.contact-main-wrap .contact-wrap .contact-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view {
  width: 100%;
  margin-bottom: 60px;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view .contact-cell {
  width: 400px;
  height: 160px;
  padding: 32px;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view .contact-cell .icon {
  margin-top: 16px;
  width: 64px;
  height: 64px;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view .contact-cell .title {
  font-size: 20px;
  color: #181818;
  font-family: "PingFang SC";
  font-weight: bold;
  margin-left: 96px;
  margin-top: 24px;
  line-height: 28px;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view .contact-cell .desc {
  font-size: 14px;
  color: #666;
  line-height: 28px;
  margin-left: 96px;
}
.contact-main-wrap .contact-wrap .contact-content .contact-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.contact-main-wrap .address-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.contact-main-wrap .address-wrap .address-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.contact-main-wrap .address-wrap .address-content .address-view {
  width: 100%;
}
.contact-main-wrap .address-wrap .address-content .address-view .address-cell {
  width: 400px;
  padding: 32px;
  position: relative;
  overflow: hidden;
}
.contact-main-wrap .address-wrap .address-content .address-view .address-cell .icon {
  width: 80px;
  display: block;
  border-radius: 40px;
  height: 80px;
  margin: 0 auto;
}
.contact-main-wrap .address-wrap .address-content .address-view .address-cell .title {
  color: #181818;
  font-weight: bold;
  font-size: 18px;
  font-family: "PingFang SC";
  text-align: center;
  width: 100%;
  line-height: 28px;
}
.contact-main-wrap .address-wrap .address-content .address-view .address-cell .text {
  font-family: "PingFang SC";
  font-size: 14px;
  color: #666;
  text-align: center;
}
.contact-main-wrap .address-wrap .address-content .address-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
