.main-layout {
  position: relative;
  width: 100%;
  min-width: 1280px;
}
.main-layout .header-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.main-layout .header-fixed {
  position: fixed;
}
.main-layout .header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #181616;
  opacity: 0.4;
}
.main-layout .header-wrap {
  height: 64px;
  width: 100%;
  z-index: 998;
  line-height: 64px;
  -webkit-box-shadow: 0 2px 4px rgba(0,21,41,0.08);
          box-shadow: 0 2px 4px rgba(0,21,41,0.08);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.main-layout .header-wrap .header-content {
  width: 1280px;
  position: relative;
  margin: 0 auto;
}
.main-layout .header-wrap .header-content .v-img {
  vertical-align: middle;
  height: 40px;
}
.main-layout .header-wrap .header-content .header-nav {
  position: relative;
  left: 24px;
}
.main-layout .header-wrap .header-content .header-nav li {
  position: relative;
  float: left;
}
.main-layout .header-wrap .header-content .header-nav li.active a {
  opacity: 1;
}
.main-layout .header-wrap .header-content .header-nav li.active span {
  opacity: 1;
}
.main-layout .header-wrap .header-content .header-nav li:hover a {
  opacity: 1;
}
.main-layout .header-wrap .header-content .header-nav li:hover span {
  opacity: 1;
}
.main-layout .header-wrap .header-content .header-nav a {
  display: block;
  padding: 0 30px;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-layout .header-wrap .header-content .header-nav .t-white {
  color: #444;
}
.main-layout .header-wrap .header-content .header-nav .empty-span {
  display: block;
  position: absolute;
  left: 30px;
  bottom: 1px;
  width: calc(100% - 60px);
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-layout .header-wrap .header-content .header-nav .t-white-t {
  background-color: #4169e1;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap {
  opacity: 0;
  visibility: hidden;
  display: none;
  background: #fff;
  left: 0;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,0.12), 0 6px 16px 0 rgba(0,0,0,0.08), 0 9px 28px 8px rgba(0,0,0,0.05);
          box-shadow: 0 3px 6px -4px rgba(0,0,0,0.12), 0 6px 16px 0 rgba(0,0,0,0.08), 0 9px 28px 8px rgba(0,0,0,0.05);
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left {
  width: 215px;
  height: 100%;
  background-color: #f0f5ff;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  height: 64px;
  width: 100%;
  color: #181818;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap .icon-img-wrap {
  width: 32px;
  height: 32px;
  background-color: #d4d9e3;
  border-radius: 16px;
  overflow: hidden;
  float: left;
  position: relative;
  margin-top: 16px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap .icon-img-wrap .icon-img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: 4px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap .text-title {
  font-size: 14px;
  color: #181818;
  height: 64px;
  line-height: 64px;
  display: inline-block;
  font-weight: 400;
  font-family: "PingFang SC";
  font-style: normal;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap-active {
  background-color: #e1ebff;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap-active .icon-img-wrap {
  background: linear-gradient(315deg, #01ebdd 13.19%, #5360fb 74.07%);
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-left .m-tabs-title-wrap-active .text-title {
  color: color-primary;
  font-weight: 500;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right {
  width: calc(100% - 215px);
  height: 100%;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap {
  width: 100%;
  height: 100%;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-column {
  min-width: 180px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-column .content-item-title {
  font-size: 14px;
  color: color-primary;
  font-weight: 500;
  font-family: "PingFang SC";
  height: 40px;
  line-height: 40px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-column .data-item {
  font-family: "PingFang SC";
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  color: #444;
  display: block;
  padding: 0;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-column .data-item:hover {
  color: color-primary;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell {
  width: 100%;
  min-height: 40px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell .content-item-title {
  font-size: 16px;
  cursor: pointer;
  color: #444;
  font-weight: 500;
  font-family: "PingFang SC";
  height: 40px;
  line-height: 40px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell .content-item-desc {
  font-size: 14px;
  cursor: pointer;
  color: #7e87a2;
  font-weight: 400;
  font-family: "PingFang SC";
  line-height: 24px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell:hover .content-item-title {
  color: color-primary;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell:hover .content-item-desc {
  color: #444;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell-n-4 {
  width: 181.25px;
  -webkit-box-shadow: 0 2px 4px rgba(0,21,41,0.08);
          box-shadow: 0 2px 4px rgba(0,21,41,0.08);
  border: 1px solid #eee;
  float: left;
  height: 265px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell-n-4 .icon-img-wrap {
  width: 100%;
  height: auto;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell-n-4 .icon-img-wrap img {
  width: 100%;
  height: auto;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell-n-4 .content-item-title {
  width: 100%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #444;
  font-weight: 500;
  font-family: "PingFang SC";
  height: 40px;
  line-height: 40px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-tabs-right .m-tabs-item-wrap .content-item-wrap-cell-n-4 .content-item-desc {
  font-size: 12px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: #7e87a2;
  font-weight: 400;
  font-family: "PingFang SC";
  line-height: 20px;
  text-align: center;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-4-cell-wrap {
  height: 120px;
  width: 150px;
  padding: 0;
  display: block;
  margin: 20px;
  overflow: hidden;
  position: relative;
  line-height: 0;
  cursor: pointer;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-4-cell-wrap .icon {
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  margin-bottom: 4px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-4-cell-wrap .title {
  font-size: 14px;
  font-family: "PingFang SC";
  line-height: 28px;
  height: 28px;
  color: #181818;
  text-align: center;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-4-cell-wrap .desc {
  font-size: 12px;
  font-family: "PingFang SC";
  line-height: 24px;
  text-align: center;
  padding-left: 4px;
  color: #444;
  padding-right: 4px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-4-cell-wrap:hover .title {
  color: #4169e1;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-1-wrap {
  position: relative;
  width: 100%;
  padding: 0;
  display: block;
  height: auto;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-1-wrap .pointer {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-top: 11px;
  margin-left: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#01ebdd), to(#5360fb));
  background-image: linear-gradient(90deg, #01ebdd 0%, #5360fb 100%);
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-1-wrap .title {
  font-size: 14px;
  color: #444;
  font-family: "PingFang SC";
  height: 28px;
  line-height: 28px;
  margin-left: 24px;
  cursor: pointer;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-1-wrap .title:hover {
  color: color-primary;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap .m-view-wrap .m-n-1-wrap .line {
  width: 100%;
  height: 1px;
  background-color: #ebeff7;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-layout .header-wrap .header-content .header-nav .menu-wrap-active {
  visibility: visible;
  display: block;
  opacity: 1;
}
.main-layout .header-wrap .header-content .header-nav .tag-hot {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  height: 20px;
  line-height: 20px;
  background-color: #ffe7e4;
  margin-left: 12px;
  display: inline-block;
  color: #f67c71;
}
.main-layout .header-wrap .header-content .header-nav .tag-new {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  height: 20px;
  line-height: 20px;
  background-color: #f0fff0;
  margin-left: 12px;
  display: inline-block;
  color: #32cd32;
}
.main-layout .header-wrap .header-content .tel {
  color: #fff;
  -webkit-animation: breath 5s ease-in-out infinite;
          animation: breath 5s ease-in-out infinite;
  font-size: 14px;
}
.main-layout .header-wrap .header-content .tel .tel-img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: 18px;
}
.main-layout .header-wrap .header-content .tel .tel-t {
  color: #fff;
}
.main-layout .header-wrap .header-content .tel .tel-t-white {
  color: #444;
}
.main-layout .footer-wrap {
  background-color: #242424;
}
.main-layout .footer-wrap .footer-content {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap {
  height: auto;
  min-width: 120px;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .item-title {
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  font-family: "PingFang SC";
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .item-text {
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  height: 32px;
  line-height: 32px;
  display: block;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .item-hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .item-hover:hover {
  color: color-primary;
  padding-left: 10px;
  all: 0.5s ease-in-out;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .qrcode-wrap {
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255,0.08);
  position: relative;
  overflow: hidden;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .qrcode-wrap img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .qrcode-wrap .text-wrap {
  width: calc(100% - 100px);
  height: 100px;
  position: relative;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .qrcode-wrap .text-wrap .text-container {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-layout .footer-wrap .footer-content .footer-top-wrap .footer-item-wrap .qrcode-wrap .text-wrap .text-container .text {
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding-left: 8px;
}
.main-layout .footer-wrap .footer-content .footer-top-wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap {
  width: 100%;
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap .middle-cell {
  width: 100%;
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap .middle-cell .txt {
  font-size: 14px;
  color: rgba(255,255,255,0.4);
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap .middle-cell .link-text:hover {
  color: color-primary;
  cursor: pointer;
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap .middle-cell .icon-link {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  display: inline-block;
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}
.main-layout .footer-wrap .footer-content .footer-middle-wrap .middle-cell .icon-link img {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  margin-left: 6px;
}
.main-layout .footer-wrap .footer-content .footer-line-wrap {
  height: 1px;
  width: 100%;
  background: #fff;
  opacity: 0.1;
}
.main-layout .footer-wrap .footer-content .footer-bottom-wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.main-layout .footer-wrap .footer-content .footer-bottom-wrap .copy-right {
  font-size: 12px;
  text-align: center;
  color: rgba(255,255,255,0.3);
}
.main-layout .side-menu-wrap {
  position: fixed;
  right: 32px;
  width: 48px;
  z-index: 999;
  bottom: 20px;
}
.main-layout .side-menu-wrap .contact-wrap {
  width: 48px;
  cursor: pointer;
  height: 160px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
  border-radius: 24px;
  position: relative;
}
.main-layout .side-menu-wrap .contact-wrap .contact-text {
  width: 16px;
  color: #fff;
  letter-spacing: 0;
  font-size: 16px;
  text-align: justify;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-layout .side-menu-wrap .side-icon-wrap {
  width: 48px;
  height: 114px;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 24px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  padding: 12px;
}
.main-layout .side-menu-wrap .side-icon-wrap .line {
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,0.15);
}
.main-layout .side-menu-wrap .side-icon-wrap .icon {
  height: 35px;
  width: 100%;
}
.main-layout .side-menu-wrap .side-icon-wrap .icon img {
  width: 100%;
  height: 100%;
}
.main-layout .side-menu-wrap .top-click {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  background-color: #fff;
  padding: 14px;
  cursor: pointer;
}
.main-layout .side-menu-wrap .top-click img {
  width: 100%;
  height: 100%;
}
.main-layout .side-menu-wrap .show-guide-view {
  width: 260px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 33px 0 rgba(0,21,41,0.08);
          box-shadow: 0 10px 33px 0 rgba(0,21,41,0.08);
  position: absolute;
  right: 65px;
  top: 24px;
  height: 96px;
  padding: 20px;
  border-radius: 5px;
}
.main-layout .side-menu-wrap .show-guide-view .guide-main-view {
  width: 100%;
}
.main-layout .side-menu-wrap .show-guide-view .guide-main-view .guide-title,
.main-layout .side-menu-wrap .show-guide-view .guide-main-view .guide-desc {
  font-size: 16px;
  color: #374567;
  font-weight: 400;
  height: 32px;
  text-align: center;
  line-height: 32px;
}
.main-layout .side-menu-wrap .show-guide-view .guide-main-view .guide-desc {
  color: #4169e1;
  display: block;
}
.main-layout .side-menu-wrap .show-guide-view .guide-main-view .guide-desc:hover {
  text-decoration: underline;
}
.main-layout .side-menu-wrap .show-guide-view:before {
  border: 8px solid transparent;
  border-left: 10px solid #fff;
  top: 16px;
  content: " ";
  position: absolute;
  right: -18px;
}
.custom-box-wrap .content-view {
  width: 600px;
  height: 360px;
  background-color: #fff;
}
@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.index-page-wrap .index-content {
  position: relative;
}
.index-page-wrap .index-content .main-banner-wrap {
  width: 100%;
  height: 535px;
  position: relative;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner {
  position: relative;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .banner-pagination {
  position: absolute;
  top: 358px;
  height: 3px;
  z-index: 111;
  left: 50%;
  max-width: 640px;
  margin-left: -640px;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .banner-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  margin-right: 8px;
  background-color: #999;
  cursor: pointer;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .banner-pagination .swiper-pagination-bullet-active {
  background-color: #2366ef;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap {
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 535px;
  background-position-y: center;
  background-position-x: center;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap {
  width: 1280px;
  position: relative;
  height: 535px;
  margin: 0 auto;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .main-title {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  line-height: 56px;
  padding-top: 120px;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .banner-black {
  color: #374567;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .desc-item-wrap {
  margin-top: 16px;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .desc-item-wrap .main-desc {
  font-size: 16px;
  color: rgba(255,255,255,0.85);
  width: 600px;
  text-align: justify;
  line-height: 28px;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .desc-item-wrap .banner-black {
  color: #374567;
}
.index-page-wrap .index-content .main-banner-wrap .swiper-container-banner .full-banner-wrap .banner-content-wrap .main-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  border-radius: 2px;
  width: 108px;
  display: block;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  height: 36px;
  margin-top: 32px;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap {
  height: 95px;
  width: 100%;
  position: absolute;
  top: 440px;
  left: 0;
  background: rgba(7,17,33,0.5);
  z-index: 10;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap .column-content {
  margin: 0 auto;
  width: 1280px;
  height: 100%;
  position: relative;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap .column-content .column-cell {
  width: calc(25% - 48px);
  height: 47px;
  display: block;
  padding: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap .column-content .column-cell .tit {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap .column-content .column-cell .desc {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.index-page-wrap .index-content .main-banner-wrap .column-wrap .column-content .column-cell:hover {
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.index-page-wrap .index-content .product-wrap .product-content {
  margin: 0 auto 40px auto;
  width: 1280px;
  position: relative;
}
.index-page-wrap .index-content .product-wrap .product-content .more-btn {
  width: 108px;
  height: 36px;
  margin: 0 auto;
  color: #01bbdd;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #01bbdd;
  margin-top: 24px;
  display: block;
  cursor: pointer;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view {
  height: 420px;
  width: 948px;
  margin: 0 auto 20px auto;
  position: relative;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell {
  width: 300px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 111;
  padding: 24px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content .icon-wrap {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 96px auto 0 auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content .icon-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content .tit {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content .txt {
  text-align: center;
  margin-top: 8px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content .product-info-content .btn {
  width: 100px;
  height: 36px;
  background-color: #fff;
  color: #01bbdd;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  border-radius: 4px;
  margin: 24px auto 0 auto;
  cursor: pointer;
  opacity: 0;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content:before {
  top: auto;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 75px;
  content: "";
  position: absolute;
  width: 75px;
  height: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell .product-cell-content:after {
  left: 225px;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: auto;
  bottom: 0;
  width: 75px;
  height: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:before {
  left: 0;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  width: 75px;
  height: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:after {
  left: 150px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  width: 75px;
  height: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content:before,
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content:after {
  height: 420px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content .product-info-content .icon-wrap {
  margin-top: 64px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content .product-info-content .tit {
  color: #fff;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content .product-info-content .txt {
  color: #fff;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover .product-cell-content .product-info-content .btn {
  opacity: 1;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover:before,
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:hover:after {
  height: 420px;
}
.index-page-wrap .index-content .product-wrap .product-content .product-view .product-cell:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(180deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .product-wrap .product-content .product-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.index-page-wrap .index-content .statics-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 340px;
  background: #fff;
}
.index-page-wrap .index-content .statics-wrap .statics-mask {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 99;
  background-image: url("/images/cssBg/bg_statics.png");
  background-size: cover;
  height: 340px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.index-page-wrap .index-content .statics-wrap .statics-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  z-index: 100;
  position: absolute;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap {
  margin: 0 auto;
  width: 1040px;
  position: relative;
  z-index: 100;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view {
  width: 100%;
  margin: 0 auto;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view .statics-cell {
  width: 230px;
  height: 90px;
  padding: 20px;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view .statics-cell .number-wrap {
  display: block;
  height: 32px;
  left: 50%;
  text-align: center;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view .statics-cell .number-wrap .number {
  font-weight: 600;
  color: #fff;
  font-size: 28px;
  width: 100%;
  font-family: "Microsoft Sans Serif";
  text-align: center;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view .statics-cell .txt {
  font-size: 14px;
  color: #999;
  width: 100%;
  text-align: center;
  margin-top: 12px;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view .mar-r40 {
  margin-right: 40px;
}
.index-page-wrap .index-content .statics-wrap .statics-content .statics-info-wrap .statics-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.index-page-wrap .index-content .solution-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #242933;
}
.index-page-wrap .index-content .solution-wrap .solution-content {
  width: 1280px;
  margin: 0 auto 40px auto;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view {
  width: 100%;
  height: 480px;
  position: relative;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell {
  width: 220px;
  height: 216px;
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(179deg, #292f3b 2%, #242933);
  -webkit-box-shadow: 8px 8px 20px 0 #121501;
          box-shadow: 8px 8px 20px 0 #121501;
  overflow: hidden;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .icon-wrap {
  margin-top: 12px;
  width: 48px;
  height: 48px;
  margin-left: calc(50% - 24px);
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .icon-wrap img {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .name {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .tit {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .txt {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.5);
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box {
  position: absolute;
  left: 8px;
  top: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: #141414;
  border-radius: 4px;
  padding: 32px;
  background-image: url("/images/cssBg/bg_solution.png");
  background-size: 100% 100%;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .mar-b80 {
  margin-bottom: 80px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tit {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 308px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .desc {
  min-width: 308px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tag-view {
  position: absolute;
  left: 32px;
  width: calc(100% - 64px);
  top: 230px;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tag-view .tag-wrap {
  width: 100%;
  height: 28px;
  margin-bottom: 8px;
  text-align: left;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tag-view .tag-wrap .icon-wrap {
  width: 18px;
  height: 18px;
  margin: 0;
  margin-top: 5px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tag-view .tag-wrap .icon-wrap img {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .tag-view .tag-wrap .desc {
  width: 100%;
  margin-left: 28px;
  line-height: 28px;
  height: 28px;
  color: #fff;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .active-box .btn {
  font-size: 14px;
  color: #4f8dfc;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  position: absolute;
  left: 32px;
  bottom: 32px;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .tr .tit {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .tr .desc {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .tr .tag-view {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell .solution-cell-view .tr .btn {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell:hover .solution-cell-view .icon-wrap {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell:hover .solution-cell-view .name {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .solution-wrap .solution-content .solution-view .solution-cell:hover .solution-cell-view .tit {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .customer-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.index-page-wrap .index-content .customer-wrap .customer-content {
  margin: 60px auto 0 auto;
  width: 1280px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view {
  width: 1188px;
  margin: 0 auto;
  height: 113px;
  position: relative;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell {
  width: 108px;
  float: left;
  height: 113px;
  cursor: pointer;
  position: relative;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell .box-wrap {
  width: 64px;
  height: 64px;
  margin-left: 22px;
  border-radius: 32px;
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell .box-wrap .icon-wraps {
  width: 34px;
  height: 34px;
  margin-left: 15px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell .box-wrap .icon-wraps img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell .box-text {
  margin-top: 13px;
  font-size: 18px;
  font-family: "PingFang SC";
  width: 100%;
  text-align: center;
  color: #181818;
  font-weight: 500;
  line-height: 36px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell-active .box-wrap {
  background: #fff;
  border: 1px solid #4169e1;
  -webkit-box-shadow: 0 8px 6px 1px rgba(69,114,255,0.08);
          box-shadow: 0 8px 6px 1px rgba(69,114,255,0.08);
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell-active .box-wrap .icon-wraps {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-cell-active .box-text {
  color: #4169e1;
}
.index-page-wrap .index-content .customer-wrap .customer-content .tabs-view .tab-line {
  width: 72px;
  height: 1px;
  margin-top: 32px;
  float: left;
  background: transparent;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view {
  width: 1280px;
  height: 400px;
  margin: 16px auto 60px auto;
  overflow: hidden;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view {
  width: 720px;
  height: 400px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .cover-wrap {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .cover-wrap img {
  width: auto;
  height: 305px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .logo-wrap {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .logo-wrap .img-wrap {
  width: 33.33%;
  position: relative;
  height: 100%;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .logo-wrap .img-wrap img {
  width: auto;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .left-view .logo-wrap .br {
  border-right: 1px solid #efefef;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view {
  width: 560px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(120deg, #5360fb 0%, #01bbdd 96%);
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 32px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .quotation {
  font-size: 80px;
  line-height: 64px;
  min-width: 66px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .words {
  font-size: 16px;
  line-height: 30px;
  margin-left: 66px;
  font-family: "PingFang SC";
  text-align: justify;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .name-wrap {
  height: 28px;
  margin-top: 48px;
  width: 100%;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .name-wrap .speaker {
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  font-weight: 600;
  font-family: "PingFang SC";
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .name-wrap .name {
  font-size: 16px;
  line-height: 28px;
  height: 28px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell .right-view .info-wrap .name-wrap .line {
  width: 36px;
  background-color: #fff;
  height: 1px;
  margin-top: 13.5px;
}
.index-page-wrap .index-content .customer-wrap .customer-content .customer-view .customer-view-cell:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.index-page-wrap .index-content .logo-view-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.index-page-wrap .index-content .logo-view-wrap .logo-view-content {
  margin: 60px auto;
  width: 1280px;
}
.index-page-wrap .index-content .logo-view-wrap .logo-view-content .logo-cell-wrap {
  width: 193.33px;
  height: 68px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.index-page-wrap .index-content .logo-view-wrap .logo-view-content .logo-cell-wrap img {
  width: auto;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.index-page-wrap .index-content .logo-view-wrap .logo-view-content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.index-page-wrap .index-content .certify-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.index-page-wrap .index-content .certify-wrap .certify-content {
  margin: 60px auto 60px auto;
  width: 1280px;
}
.index-page-wrap .index-content .certify-wrap .certify-content .certify-view {
  width: 1280px;
  height: 300px;
  overflow: hidden;
}
.index-page-wrap .index-content .certify-wrap .certify-content .certify-view .swiper-slide {
  width: calc(1280px / 6);
  height: 150px;
  padding: 16px;
}
.index-page-wrap .index-content .certify-wrap .certify-content .certify-view .swiper-slide .icon-wrap {
  width: 64px;
  height: 64px;
  margin-left: 58.6px;
}
.index-page-wrap .index-content .certify-wrap .certify-content .certify-view .swiper-slide .icon-wrap img {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .certify-wrap .certify-content .certify-view .swiper-slide .txt {
  color: #596177;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
.index-page-wrap .index-content .resource-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/images/cssBg/bg_resource.png");
  background-size: 100% 100%;
}
.index-page-wrap .index-content .resource-wrap .resource-content {
  margin: 60px auto 60px auto;
  width: 1280px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view {
  height: 240px;
  width: 1280px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view {
  width: 776px;
  height: 240px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .top-view {
  width: 100%;
  height: 132px;
  padding-left: 24px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .top-view .tit {
  font-size: 14px;
  color: #181818;
  text-align: justify;
  line-height: 26px;
  max-width: 530px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .bottom-view {
  width: 60%;
  height: 108px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .bottom-view .advantage-cell {
  max-width: 220px;
  height: 28px;
  margin-bottom: 12px;
  width: 50%;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .bottom-view .advantage-cell .icon {
  width: 28px;
  height: 28px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .left-view .bottom-view .advantage-cell .text {
  line-height: 28px;
  height: 28px;
  font-size: 16px;
  color: #181818;
  margin-left: 40px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view {
  width: 504px;
  height: 240px;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell {
  width: 108px;
  height: 108px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#eee));
  background-image: linear-gradient(0deg, #fff, #eee);
  -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
          box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
  cursor: pointer;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell .icon-wrap {
  width: 36px;
  height: 36px;
  margin-left: 36px;
  margin-top: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell .icon-wrap img {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell .txt {
  margin-top: 16px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-family: "PingFang SC";
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#d4d4d4));
  background: linear-gradient(0deg, #fff, #d4d4d4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell:hover .icon-wrap {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .resource-wrap .resource-content .resource-view .right-view .resource-cell:hover .txt {
  color: #4169e1;
}
.index-page-wrap .index-content .news-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.index-page-wrap .index-content .news-wrap .news-content {
  margin: 60px auto 60px auto;
  width: 1280px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view {
  width: 1280px;
  height: 450px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .left-view {
  width: 450px;
  position: relative;
  height: 450px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .left-view .icon-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .left-view .icon-wrap img {
  width: 100%;
  height: 100%;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view {
  width: 806px;
  height: 450px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell {
  border: 1px solid #e1e6f0;
  border-radius: 4px;
  width: 391px;
  background: #fff;
  height: 213px;
  padding: 24px;
  position: relative;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell .tit {
  font-size: 18px;
  line-height: 32px;
  max-width: 341px;
  height: 32px;
  color: #181818;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell .summary {
  font-size: 14px;
  line-height: 26px;
  max-height: 78px;
  max-width: 341px;
  text-overflow: ellipsis;
  text-align: justify;
  margin-top: 12px;
  overflow: hidden;
  color: #444;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell .date {
  position: absolute;
  left: 24px;
  bottom: 24px;
  min-width: 100px;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell .btn {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 26px;
  line-height: 26px;
  min-width: 100px;
  text-align: right;
  color: #4169e1;
  cursor: pointer;
  font-size: 14px;
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell-active {
  background-image: linear-gradient(120deg, #5360fb 0%, #01bbdd 80%);
}
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell-active .tit,
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell-active .summary,
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell-active .date,
.index-page-wrap .index-content .news-wrap .news-content .news-view .right-view .news-cell-active .btn {
  color: #fff;
}
.index-page-wrap .index-content .news-wrap .news-content .more-btn {
  width: 108px;
  height: 36px;
  margin: 0 auto;
  color: #01bbdd;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #01bbdd;
  margin-top: 24px;
  display: block;
  cursor: pointer;
}
