.activity-main-wrap {
  width: 100%;
  position: relative;
}
.activity-main-wrap .activity-favorite-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.activity-main-wrap .activity-favorite-wrap .activity-favorite-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view {
  width: 100%;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell {
  width: 400px;
  height: 500px;
  margin-bottom: 40px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .top-wrap {
  width: 100%;
  height: 140px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  padding: 32px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .top-wrap .title {
  color: #fff;
  font-size: 20px;
  font-family: "PingFang SC";
  letter-spacing: 0.8px;
  line-height: 28px;
  margin-bottom: 10px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .top-wrap .desc {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: justify;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap {
  width: 100%;
  height: 274px;
  position: relative;
  background-color: #f4f4f4;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .bg-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .bg-wrap .bg-img {
  position: absolute;
  right: -120px;
  bottom: -30px;
  width: 100%;
  height: 100%;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .info-wrap {
  padding: 32px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .info-wrap .advantage-wrap {
  width: auto;
  height: 32px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .info-wrap .advantage-wrap .arrow {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .info-wrap .advantage-wrap .ad-text {
  font-size: 14px;
  color: #3d3d3d;
  line-height: 32px;
  height: 32px;
  margin-left: 32px;
  letter-spacing: 0;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .middle-wrap .info-wrap .btn {
  width: 100px;
  height: 36px;
  display: block;
  margin-top: 32px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
  line-height: 36px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .main-cell .bottom-wrap {
  width: 100%;
  height: 86px;
  padding: 32px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell {
  margin-bottom: 40px;
  width: 400px;
  height: 230px;
  position: relative;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  padding: 32px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell .bg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 120px;
  top: -80px;
  opacity: 0.3;
  width: 400px;
  height: auto;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell .title {
  color: #181818;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  font-family: "PingFang SC";
  margin-bottom: 5px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell .desc {
  color: #666;
  font-size: 14px;
  line-height: 26px;
  font-family: "PingFang SC";
  height: 78px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell .btn {
  position: absolute;
  cursor: pointer;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .normal-cell:hover .bg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .tag-wrap {
  width: 100%;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .tag-wrap .tag {
  height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .tag-wrap .s-fill {
  background-color: #4169e1;
  color: #fff;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view .tag-wrap .s-outline {
  border: 1px solid #4169e1;
  color: #4169e1;
}
.activity-main-wrap .activity-favorite-wrap .favorite-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.activity-main-wrap .activity-brand-wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view {
  width: 100%;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell {
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 622px;
  height: 182px;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .info-wrap {
  width: 320px;
  height: 100%;
  padding: 24px;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .info-wrap .title {
  font-size: 16px;
  font-weight: 600;
  font-family: "PingFang SC";
  color: #181818;
  height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 8px;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .info-wrap .desc {
  overflow: hidden;
  font-family: "PingFang SC";
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 48px;
  line-height: 24px;
  color: #3d3d3d;
  text-align: justify;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .info-wrap .btn {
  cursor: pointer;
  margin-top: 12px;
  display: block;
  width: 88px;
  border-radius: 2px;
  display: block;
  height: 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .cover-wrap {
  width: 300px;
  height: 100%;
  overflow: hidden;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell .cover-wrap img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell:hover {
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view .brand-cell:hover .cover-wrap img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.activity-main-wrap .activity-brand-wrap .activity-brand-content .brand-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.activity-main-wrap .activity-hot-wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view {
  width: 100%;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell {
  width: 400px;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap .mask {
  width: 0;
  height: 0;
  border-bottom: 60px solid transparent;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap .mask-red {
  border-right: 80px solid #f56c6c;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap .mask-black {
  border-right: 80px solid #222;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap .reg-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 6px;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .tag-wrap .reg-wrap .text {
  width: 100%;
  height: 24px;
  line-height: 24px;
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-family: PingFangSC-light;
  font-weight: bold;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .cover-wrap {
  width: 100%;
  height: 222.2px;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .cover-wrap img {
  width: 100%;
  height: 100%;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap {
  width: 100%;
  height: calc(100% - 222.2px);
  padding: 32px;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap .title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #181818;
  font-size: 16px;
  line-height: 28px;
  text-overflow: ellipsis;
  height: 28px;
  white-space: nowrap;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap .desc {
  font-size: 14px;
  color: #888;
  margin-top: 8px;
  line-height: 24px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  height: 48px;
  overflow: hidden;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap .date,
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap .location {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view .hot-cell .info-wrap .btn {
  font-size: 14px;
  height: 36px;
  cursor: pointer;
  margin-top: 16px;
  width: 100px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
  text-align: center;
  display: inline-block;
}
.activity-main-wrap .activity-hot-wrap .activity-hot-content .hot-view:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
