.join-main-wrap {
  width: 100%;
  position: relative;
}
.join-main-wrap .join-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.join-main-wrap .join-wrap .join-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.join-main-wrap .join-wrap .join-content .join-view {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell {
  width: 100%;
  margin-bottom: 9px;
  height: calc(82px + 54px + 12px);
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .block-view {
  height: 82px;
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell {
  width: calc(1196px / 7);
  margin-left: 6px;
  margin-right: 6px;
  height: 82px;
  position: relative;
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell .top {
  position: absolute;
  top: -54px;
  border-right: calc(1196px / 14) solid transparent;
  border-bottom: 54px solid #f4f4f4;
  border-left: calc(1196px / 14) solid transparent;
  width: 0;
  height: 0;
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell .bottom {
  position: absolute;
  bottom: -54px;
  border-right: calc(1196px / 14) solid transparent;
  border-top: 54px solid #f4f4f4;
  border-left: calc(1196px / 14) solid transparent;
  width: 0;
  height: 0;
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell .content-img-wrap {
  width: calc(1196px / 7);
  height: 196px;
  position: absolute;
  top: -54px;
  overflow: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg) translateZ(22px);
          transform: rotate(-60deg) skewY(30deg) translateZ(22px);
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell .content-img-wrap .img-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
}
.join-main-wrap .join-wrap .join-content .join-view .col-cell .item-cell .content-img-wrap .img-content img {
  width: 100%;
  height: auto;
}
.join-main-wrap .welfare-wrap {
  width: 100%;
  background: #f4f4f4;
  overflow: hidden;
  position: relative;
}
.join-main-wrap .welfare-wrap .welfare-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view {
  width: 100%;
  margin-bottom: 60px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell {
  width: 100%;
  height: 360px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .img {
  width: 540px;
  height: 100%;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap {
  width: calc(100% - 540px);
  height: 100%;
  background-color: #fff;
  padding: 36px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .icon-wrap {
  width: 88px;
  height: 88px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap {
  width: 100%;
  height: 100%;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .text-inner-wrap {
  width: calc(100% - 80px);
  height: 100%;
  position: relative;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .text-inner-wrap .mask-view {
  background-color: #4169e1;
  position: absolute;
  left: 32px;
  top: 32px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  z-index: 1;
  opacity: 0.3;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .text-inner-wrap .info-view {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 32px 32px 32px 64px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .text-inner-wrap .info-view .title {
  font-size: 18px;
  font-weight: 500;
  color: #181818;
  font-family: "PingFang SC";
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 12px;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .text-inner-wrap .info-view .desc {
  color: #444;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.join-main-wrap .welfare-wrap .welfare-content .welfare-view .welfare-cell .info-wrap .text-wrap .mar-l88 {
  margin-left: 88px;
}
.join-main-wrap .resume-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.join-main-wrap .resume-wrap .resume-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.join-main-wrap .resume-wrap .resume-content .resume-view {
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tab-view {
  width: 480px;
  background-color: #f3f3f3;
  height: 44px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  border-radius: 22px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tab-view .tab-cell {
  width: 160px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  height: 44px;
  color: #444;
  font-size: 16px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tab-view .active {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tag-view {
  width: 100%;
  height: 36px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tag-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-weight: 600;
  line-height: 36px;
  font-size: 16px;
  height: 36px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tag-view .itm {
  color: #444;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border-radius: 4px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .tag-view .active {
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .empty-view {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .empty-view img {
  margin: 0 auto;
  display: block;
  height: 300px;
  width: auto;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .empty-view .empty-text {
  font-size: 16px;
  color: #999;
  width: 100%;
  text-align: center;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view {
  width: 100%;
  background: #fff;
  display: none;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell {
  width: 100%;
  min-height: 100px;
  padding: 32px;
  border: 1px solid #e1e6f0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .title {
  height: 28px;
  font-weight: bold;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .title .text {
  font-size: 16px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .title .tag-span {
  width: 28px;
  font-weight: normal;
  height: 100%;
  background: #ff6b6b;
  color: #fff;
  text-align: center;
  line-height: 28px;
  margin-right: 4px;
  display: inline-block;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .desc,
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .date {
  color: #787878;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  right: 64px;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-btn img {
  width: 100%;
  height: 100%;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap {
  width: 100%;
  display: none;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .btn {
  width: 100px;
  height: 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  color: #fff;
  text-align: center;
  display: block;
  line-height: 36px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .line {
  width: 100%;
  height: 1px;
  background: #f4f5f4;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .department {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .department .seq {
  margin-left: 8px;
  margin-right: 8px;
  color: #787878;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .info-wrap {
  width: 100%;
  height: 28px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .info-wrap span {
  font-size: 14px;
  color: #787878;
  line-height: 28px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .info-wrap .seq {
  margin-left: 8px;
  margin-right: 8px;
  color: #787878;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .tit {
  font-size: 16px;
  color: #444;
  line-height: 28px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .item {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell .expand-wrap .email {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
.join-main-wrap .resume-wrap .resume-content .resume-view .content-view .resume-cell:hover {
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.join-main-wrap .resume-wrap .resume-content .more-btn {
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 74px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  height: 36px;
  text-align: center;
  width: 100px;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: block;
  line-height: 36px;
}
