.news-detail-wrap .news-wrap {
  width: 100%;
  background: #f6f7f9;
  overflow: hidden;
  position: relative;
}
.news-detail-wrap .news-wrap .news-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.news-detail-wrap .news-wrap .news-content .news-box {
  width: 880px;
  overflow: hidden;
  margin-bottom: 60px;
}
.news-detail-wrap .news-wrap .news-content .news-box .main-content {
  background-color: #fff;
  padding: 24px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap {
  margin-top: 73px;
  width: 360px;
  min-height: 30px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search {
  position: relative;
  width: 318px;
  height: 46px;
  margin: 0 auto;
  margin-top: 15px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search .input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dee4f4;
  background: none;
  outline: none;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search .icon img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 11px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search-text {
  margin-top: 10px;
  height: 32px;
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search-text .search-item {
  margin-right: 8px;
  color: #666;
  cursor: pointer;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .search-view .search-text .search-item:hover {
  text-decoration: underline;
  color: #4169e1;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .tag-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .tag-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .tag-view .tag-item {
  display: inline-block;
  padding: 7px 15px;
  margin-top: 15px;
  margin-right: 15px;
  background: #4169e1;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  margin-top: 20px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view .news-item-wrap {
  display: inline-block;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view .news-item-wrap .point {
  width: 6px;
  height: 6px;
  background-image: linear-gradient(45deg, #5360fb 55%, #01bbdd 79%);
  margin-top: 10px;
  border-radius: 3px;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view .news-item-wrap .news-item {
  width: calc(100% - 16px);
  font-size: 14px;
  line-height: 26px;
  margin-left: 10px;
  color: #333;
  cursor: pointer;
  display: inline-block;
}
.news-detail-wrap .news-wrap .news-content .right-wrap .news-link-view .news-item-wrap .news-item:hover {
  color: #4169e1;
  text-decoration: underline;
}
