.tag-main-wrap .tag-wrap {
  width: 100%;
  background: #f6f7f9;
  overflow: hidden;
  position: relative;
}
.tag-main-wrap .tag-wrap .tag-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.tag-main-wrap .tag-wrap .tag-content .title-view {
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  margin-top: 40px;
  padding: 24px;
}
.tag-main-wrap .tag-wrap .tag-content .title-view .title-wrap .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.tag-main-wrap .tag-wrap .tag-content .title-view .title-wrap .desc {
  color: #333;
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  max-width: 1200px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view {
  width: 100%;
  height: auto;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .left-view {
  width: 880px;
  min-height: 100px;
  margin-bottom: 60px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .left-view .cell-view {
  background-color: #fff;
  padding: 24px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .left-view .cell-view .tit {
  color: #181818;
  font-family: PingFangSC-light;
  font-weight: bold;
  font-size: 16px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .left-view .cell-view .cell-item {
  width: 100%;
  background-color: #ffa500;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  padding: 0 24px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view {
  width: calc(100% - 880px - 40px);
  min-height: 20px;
  margin-bottom: 60px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view {
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .title {
  color: #181818;
  font-family: PingFangSC-light;
  font-weight: bold;
  font-size: 16px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .desc {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .text {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item {
  width: calc(100% - 24px);
  border: 1px solid #4169e1;
  padding: 6px 12px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item .icon-img {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 3px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item .title {
  margin-left: 12px;
  height: 36px;
  line-height: 36px;
  font-family: PingFangSC-light;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #666;
  font-size: 14px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item .mar-l48 {
  margin-left: 48px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item .arrow-img {
  width: 32px;
  height: 32px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  right: 12px;
  top: 6px;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item:hover .icon-img {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item:hover .title {
  margin-left: 12px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tag-main-wrap .tag-wrap .tag-content .content-view .right-view .side-view .product-item:hover .arrow-img {
  display: block;
}
