.news-main-wrap .news-wrap {
  width: 100%;
  background: #f6f7f9;
  overflow: hidden;
  position: relative;
}
.news-main-wrap .news-wrap .news-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.news-main-wrap .news-wrap .news-content .news-view {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
  min-height: 200px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap {
  width: 880px;
  min-height: 50px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view {
  width: 100%;
  height: 48px;
  background-color: #fff;
  padding: 0 12px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view .text-wrap {
  height: 46px;
  width: 100%;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view .text-wrap .tab-cell {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0 6px;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  color: #1d2129;
  position: relative;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view .text-wrap .tab-cell .active-line {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view .text-wrap .active .active-line {
  background-color: #4169e1;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .tabs-view .tab-line {
  width: 40px;
  left: 24px;
  position: absolute;
  top: 46px;
  background-color: #4169e1;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view {
  margin-top: 6px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 60px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item {
  width: 100%;
  position: relative;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .tit {
  color: #181818;
  font-size: 18px;
  line-height: 32px;
  font-family: "PingFang SC";
  font-weight: 500;
  max-height: 32px;
  overflow: hidden;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .tit a {
  max-width: 550px;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  color: #181818;
  display: inline-block;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .tit .tag {
  padding-left: 8px;
  padding-right: 8px;
  height: 20px;
  display: inline-block;
  text-align: center;
  background-color: #e8effe;
  border-radius: 2px;
  color: #4169e1;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .desc {
  font-size: 14px;
  color: #787878;
  line-height: 26px;
  height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .w-small {
  width: calc(100% - 125px - 34px);
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap {
  width: 100%;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap .icon {
  width: 18px;
  margin-top: 3px;
  height: 18px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap .author,
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap .date,
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap .tag {
  font-size: 14px;
  color: #787878;
  line-height: 24px;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .wrap .line {
  width: 1px;
  height: 16px;
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #e5e6eb;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .cover-wrap {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 36px;
  right: 0;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .cover-wrap img {
  height: 100%;
  width: 100%;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .btn {
  margin-top: 6px;
  color: #4169e1;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .btn:hover {
  text-decoration: underline;
}
.news-main-wrap .news-wrap .news-content .news-view .left-wrap .article-view .article-item .seq-line {
  height: 1px;
  width: 100%;
  background-color: #e6e8eb;
  margin: 24px 0;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap {
  width: 360px;
  min-height: 30px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search {
  position: relative;
  width: 318px;
  height: 46px;
  margin: 0 auto;
  margin-top: 15px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search .input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dee4f4;
  background: none;
  outline: none;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#5360fb), color-stop(96%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 0%, #01bbdd 96%);
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search .icon img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 11px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search-text {
  margin-top: 10px;
  height: 32px;
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search-text .search-item {
  margin-right: 8px;
  color: #666;
  cursor: pointer;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .search-view .search-text .search-item:hover {
  text-decoration: underline;
  color: #4169e1;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .tag-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  margin-top: 20px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .tag-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .tag-view .tag-item {
  display: inline-block;
  padding: 7px 15px;
  margin-top: 15px;
  margin-right: 15px;
  background: #4169e1;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  margin-top: 20px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view .tit {
  color: #181818;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 28px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view .news-item-wrap {
  display: inline-block;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view .news-item-wrap .point {
  width: 6px;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, #5360fb), color-stop(79%, #01bbdd));
  background-image: linear-gradient(90deg, #5360fb 55%, #01bbdd 79%);
  margin-top: 10px;
  border-radius: 3px;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view .news-item-wrap .news-item {
  width: calc(100% - 16px);
  font-size: 14px;
  line-height: 26px;
  margin-left: 10px;
  color: #333;
  cursor: pointer;
  display: inline-block;
}
.news-main-wrap .news-wrap .news-content .news-view .right-wrap .news-link-view .news-item-wrap .news-item:hover {
  color: #4169e1;
  text-decoration: underline;
}
