.declare-main-wrap .declare-wrap {
  width: 100%;
  background: #f6f7f9;
}
.declare-main-wrap .declare-wrap .declare-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.declare-main-wrap .declare-wrap .declare-content .main-view {
  width: 100%;
  min-height: 200px;
  background-color: #fff;
  margin-bottom: 60px;
}
